:root {
    --fs-sm: 14px;    
    --fs-md: 16px;
    --fs-lg: 24px;
    --fs-xl: 38px;
    --fs-2xl: 48px;

    --lh-21: 21px;
    --lh-24: 24px;
    --lh-26: 26px;
    --lh-33: 33px;
    --lh-52: 52px;
    --lh-57: 48px;
    --lh-61: 58px;

    --white:#fff;
    --black:#111111;
    --lime:#BAFF00;
    --nav-bg:#12121299;
    --lime-100:#5D800B;
    --input-bg:#BAFF000F;
    --bg-black:#0C0C0C;    
    --gray-100:#6E706D;
    --gray-200:#383F3A;
    --gray-300:#3C3C3B;
    --gray-400:#43594E;
}
.bg-color{
    background-color: var(--bg-black);
}
.color-lime{
    color: var(--lime);
}
.color-black{
    color: var(--black);
}
.color-white{
    color: var(--white);
}

.lh-14{
    line-height: var(--lh-14);
}
.lh-24{
    line-height: var(--lh-24);
}
.lh-26{
    line-height: var(--lh-26);
}
.lh-33{
    line-height: var(--lh-33);
}
.lh-52{
    line-height: var(--lh-52);
}
.lh-57{
    line-height: var(--lh-57);
}
.lh-61{
    line-height: var(--lh-61);
}
.lh-{
    line-height: var(--lh-);
}
.lh-{
    line-height: var(--lh-);
}




.fs-sm{
    font-size: var(--fs-sm);
}
.fs-md{
    font-size: var(--fs-md);
}
.fs-lg{
    font-size: var(--fs-lg);
}
.fs-xl{
    font-size: var(--fs-xl);
}
.fs-2xl{
    font-size: var(--fs-2xl);
}


@media (min-width:575px) {
    :root {
        --fs-sm: 14px;    
        --fs-md: 16px;
        --fs-lg: 24px;
        --fs-xl: 42px;
        --fs-2xl: 58px;
    
        --lh-21: 21px;
        --lh-24: 24px;
        --lh-26: 26px;
        --lh-33: 33px;
        --lh-52: 52px;
        --lh-57: 52px;
        --lh-61: 50px;
                  
    }   
}

@media (min-width:992px) {
    :root {
        --fs-sm: 14px;    
        --fs-md: 16px;
        --fs-lg: 24px;
        --fs-xl: 48px;
        --fs-2xl: 64px;
    
        --lh-21: 21px;
        --lh-24: 24px;
        --lh-26: 26px;
        --lh-33: 33px;
        --lh-52: 52px;
        --lh-57: 57px;
        --lh-61: 61px;
                  
    }   
}