:root {
    --fs-sm: 14px;    
    --fs-md: 16px;
    --fs-lg: 24px;
    --fs-xl: 48px;
    --fs-2xl: 64px;

    --lh-21: 21px;
    --lh-24: 24px;
    --lh-26: 26px;
    --lh-33: 33px;
    --lh-52: 52px;
    --lh-57: 57px;
    --lh-61: 61px;
}

Outfit
.lh-14{
    line-height: var(--lh-14);
}
.lh-24{
    line-height: var(--lh-24);
}
.lh-26{
    line-height: var(--lh-26);
}
.lh-33{
    line-height: var(--lh-33);
}
.lh-52{
    line-height: var(--lh-52);
}
.lh-57{
    line-height: var(--lh-57);
}
.lh-61{
    line-height: var(--lh-61);
}
.lh-{
    line-height: var(--lh-);
}
.lh-{
    line-height: var(--lh-);
}




.fs-sm{
    font-size: var(--fs-sm);
}
.fs-md{
    font-size: var(--fs-md);
}
.fs-lg{
    font-size: var(--fs-lg);
}
.fs-xl{
    font-size: var(--fs-xl);
}
.fs-2xl{
    font-size: var(--fs-2xl);
}


@media (min-width:575px) {
    :root {
                  
    }   
}

@media (min-width:992px) {
    :root {
                  
    }   
}